body
{
    background-color:Silver
   ;
}
.quiz1 {border: 2px solid black;
       width: 20%;
       margin: auto;
       padding: 20px;
}
.quiz2 {border: 2px solid black;
       width: 20%;
       margin: auto;
       padding: 20px;
}
.quiz3 {border: 2px solid black;
       width: 20%;
       margin: auto;
       padding: 20px;
}
.quiz4 {border: 2px solid black;
       width: 20%;
       margin: auto;
       padding: 20px;
}
.quiz5 {border: 2px solid black;
       width: 20%;
       margin: auto;
       padding: 20px;
}